In [1]:
import os
os.chdir("..")

In [35]:
from fix_data import add_label_T
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
import xgboost as xgb
from lightgbm import LGBMClassifier
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.decomposition import PCA

In [36]:
df = pd.read_csv("data/DropSeq/HCC1806_Filtered_Normalised_3000_Data_train.txt", sep=" ")
df = add_label_T(df, dropname=True)
df

,H1-5,MALAT1,MT-RNR2,ARVCF,BCYRN1,ATXN7L2,IGFBP3,H1-3,CTIF,RNF123,...,CDKN3,DLD,PMPCA,ZNF165,SCCPDH,NTAN1,CLIP2,DUSP23,ZNF682,label
0,2,3,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,3,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,5,2,0,0,1,0,1,3,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14677,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14678,0,4,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14679,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14680,3,3,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14681,1,6,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
X = df.drop("label", axis=1)
y = df["label"]
X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_train_val, y_train_val, test_size=0.25, random_state=42)

In [38]:
clf = LGBMClassifier(num_leaves=20, n_estimators=10000, max_depth=30, reg_lambda=0.1)
clf.fit(X_train, y_train)
clf.score(X_val, y_val)

0.9632277834525026

In [39]:
clf.score(X_test, y_test)

0.9625468164794008

In [49]:
clf_1 = LGBMClassifier(num_leaves=20, n_estimators=10000, max_depth=30, reg_lambda=0.1)
clf_1.fit(X_train_val, y_train_val)
clf_1.score(X_test, y_test)

0.9635682669390535

In [48]:
cross_val_score(LGBMClassifier(num_leaves=20, n_estimators=1000, max_depth=30, reg_lambda=0.1), X_train, y_train)

array([0.95970488, 0.95800227, 0.95913734, 0.95343555, 0.96081772])

In [41]:
X_pred = pd.read_csv("data/DropSeq/MCF7_Filtered_Normalised_3000_Data_test_anonim.txt", sep=" ").T
X_pred

,MALAT1,MT-RNR2,NEAT1,H1-5,TFF1,MT-RNR1,H4C3,GDF15,KRT81,MT-CO3,...,MROH1,SKIDA1,MICALL1,RARG,MYO1F,BRWD1-AS2,RPS19BP1,AUNIP,TNK2,SUDS3
1,0,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2,0,0,5,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,3,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,3,0,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5402,0,0,0,0,3,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5403,0,0,0,0,2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2
5404,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5405,5,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
5406,1,0,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
y_pred = clf.predict(X_pred)
y_pred_1 = clf_1.predict(X_pred)
np.sum(y_pred != y_pred_1)

301

In [50]:
pred = clf.predict(X_test)
pred_1 = clf_1.predict(X_test)
np.sum(pred != pred_1)

43

In [53]:
with open("predictions/dropseq_hcc1806_predictions.txt", 'w') as file:
        for n in y_pred_1:
            label = "Normoxia" if n == 1 else "Hypoxia"
            file.write(label + '\n')