In [15]:
import os
os.chdir("C:/Users/anton/Desktop/University/AI_Lab/Git_repo")

In [16]:
from fix_data import add_label_T
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
import xgboost as xgb
import lightgbm as lgb
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.decomposition import PCA

In [17]:
df = pd.read_csv("data/DropSeq/MCF7_Filtered_Normalised_3000_Data_train.txt", sep=" ")
df = add_label_T(df, dropname=True)
df

,MALAT1,MT-RNR2,NEAT1,H1-5,TFF1,MT-RNR1,H4C3,GDF15,KRT81,MT-CO3,...,SKIDA1,MICALL1,RARG,MYO1F,BRWD1-AS2,RPS19BP1,AUNIP,TNK2,SUDS3,label
0,1,0,0,0,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,3,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,6,2,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21621,0,0,0,0,3,0,7,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21622,1,0,0,0,4,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21623,0,0,0,1,2,0,4,0,0,0,...,0,0,0,0,0,0,0,0,1,0
21624,0,0,0,0,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21625,4,0,0,0,0,0,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
X = df.drop("label", axis=1)
y = df["label"]

In [21]:
X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_train_val, y_train_val, test_size=0.25, random_state=42)

In [11]:
clf = LogisticRegression(solver="liblinear")
param_grid = {
    "penalty": ["l1", "l2"],
    "C": [10**x for x in range(-3, 3)]
}
grid_search = GridSearchCV(clf, param_grid)
grid_search.fit(X_train, y_train)
print(grid_search.best_params_, grid_search.best_score_)

{'C': 0.1, 'penalty': 'l1'} 0.9779576107899807

In [86]:
clf = lgb.LGBMClassifier(num_leaves=20, n_estimators=10000, max_depth=30, reg_lambda=0.1)
clf.fit(X_train, y_train)
clf.score(X_val, y_val)

0.9835838150289017