In [1]:
import pandas as pd
import numpy as np

# SMARTS HCC1806

In [25]:
#reading files
smarts_metadata_hcc = pd.read_table("data/HCC1806_SmartS_MetaData.tsv")
smarts_unfiltered_hcc = pd.read_csv("data/HCC1806_SmartS_Unfiltered_Data.txt", sep= " ")

In [69]:
#building new df
target_col = smarts_metadata_hcc['Condition']

hcc_smarts_df = smarts_unfiltered_hcc.T

#checking that rows and columns are aligned
for i,j in enumerate(smarts_metadata_hcc["Filename"]):
    if smarts_unfiltered_hcc.columns[i] != j:
        print("False")
        break
print(True)

hcc_smarts_df = smarts_unfiltered_hcc.T.reset_index(drop=True)
hcc_smarts_df["Target"] = target_col
hcc_smarts_df

True

,WASH7P,CICP27,DDX11L17,WASH9P,OR4F29,MTND1P23,MTND2P28,MTCO1P12,MTCO2P12,MTATP8P1,...,MT-TS2,MT-TL2,MT-ND5,MT-ND6,MT-TE,MT-CYB,MT-TT,MT-TP,MAFIP,Target
0,0,0,0,0,2,250,54,1740,6,1,...,5,15,3852,900,22,4208,26,66,0,Normo
1,0,0,0,0,0,424,100,2340,5,1,...,29,36,7457,1439,43,6491,62,71,4,Normo
2,0,0,0,0,0,11,0,22,0,0,...,0,0,93,12,0,25,0,1,0,Hypo
3,0,0,0,0,0,63,16,1020,3,0,...,17,8,1479,234,0,4819,11,3,7,Hypo
4,0,0,0,0,0,27,3,303,0,0,...,0,3,303,33,0,310,4,9,0,Hypo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,0,0,0,1,0,146,47,961,1,0,...,17,11,2926,423,26,3719,42,48,3,Normo
239,0,0,0,0,0,37,6,372,0,0,...,1,3,688,114,1,984,1,18,0,Normo
240,0,0,0,1,0,83,30,1128,4,0,...,6,23,2999,486,4,2256,15,36,2,Hypo
241,0,0,0,0,0,47,7,258,1,0,...,3,3,611,75,4,981,6,8,1,Normo
242,0,0,0,0,0,249,38,980,0,0,...,3,15,2460,513,20,2039,34,79,5,Normo

# SMARTS MCF7

In [70]:
#reading files
smarts_metadata_mcf = pd.read_table("data/MCF7_SmartS_MetaData.tsv")
smarts_unfiltered_mcf = pd.read_csv("data/MCF7_SmartS_Unfiltered_Data.txt", sep= " ")

In [71]:
#building new df
target_col = smarts_metadata_mcf['Condition']

mcf_smarts_df = smarts_unfiltered_mcf.T

#checking that rows and columns are aligned
for i,j in enumerate(smarts_metadata_mcf["Filename"]):
    if smarts_unfiltered_mcf.columns[i] != j:
        print("False")
        break
print(True)

mcf_smarts_df = smarts_unfiltered_mcf.T.reset_index(drop=True)
mcf_smarts_df["Target"] = target_col
mcf_smarts_df

True

,WASH7P,MIR6859-1,WASH9P,OR4F29,MTND1P23,MTND2P28,MTCO1P12,MTCO2P12,MTATP8P1,MTATP6P1,...,MT-TS2,MT-TL2,MT-ND5,MT-ND6,MT-TE,MT-CYB,MT-TT,MT-TP,MAFIP,Target
0,0,0,1,0,0,2,2,0,0,29,...,0,0,505,147,4,270,0,5,8,Hypo
1,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,0,Hypo
2,0,0,0,0,0,1,1,1,0,12,...,0,0,1,0,0,76,0,0,0,Hypo
3,0,0,0,0,0,0,0,0,0,7,...,0,0,44,8,0,66,0,1,0,Norm
4,0,0,0,0,0,0,0,0,0,68,...,0,0,237,31,3,727,0,0,0,Norm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,0,0,0,0,0,0,1,0,0,49,...,0,1,341,46,1,570,0,0,0,Norm
379,0,0,1,0,0,2,5,5,0,370,...,0,2,1612,215,6,3477,3,7,6,Norm
380,1,0,1,0,0,7,0,0,0,33,...,0,0,62,20,0,349,0,2,0,Hypo
381,0,0,4,1,0,29,4,0,0,228,...,0,2,1934,575,7,2184,2,28,1,Hypo
382,1,0,5,0,0,5,3,0,0,71,...,2,3,1328,490,4,1149,2,11,4,Hypo